In [2]:
import pandas as pd
import numpy as np
import os, sys
sys.path.insert(0, os.path.abspath('../..'))
import source.data_preparation as dp
import source.regression_models as modl
data = dp.prepare_data(uselog=True)

/opt/anaconda3/envs/tsfm/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
data[data.index >= "1927-01-01"]

,price,d12,e12,ret,retx,AAA,BAA,lty,ltr,corpr,...,rdsp,rsvix,gpce,gip,tchi,house,avgcor,shtint,disag,equity_premium
date,,,,,,,,,,,,,,,,,,,,,
1927-01-01,13.21,0.696700,1.229000,-0.002910,-0.005579,0.0466,0.0561,0.0351,0.007500,0.005600,...,0.060047,NaN,NaN,NaN,NaN,NaN,0.142210,NaN,NaN,-0.005411
1927-02-01,13.84,0.703300,1.218000,0.045522,0.040566,0.0467,0.0559,0.0347,0.008800,0.006900,...,0.052376,NaN,NaN,NaN,NaN,NaN,0.122186,NaN,NaN,0.041920
1927-03-01,13.93,0.710000,1.208000,0.007324,0.002610,0.0462,0.0554,0.0331,0.025300,0.008300,...,0.076485,NaN,NaN,NaN,NaN,NaN,0.160213,NaN,NaN,0.004302
1927-04-01,14.17,0.716700,1.197000,0.013021,0.010907,0.0458,0.0548,0.0333,-0.000500,0.005500,...,0.056048,NaN,NaN,NaN,NaN,NaN,0.161171,NaN,NaN,0.010440
1927-05-01,14.91,0.723300,1.186000,0.062353,0.057096,0.0457,0.0550,0.0327,0.010900,-0.001100,...,0.079698,NaN,NaN,NaN,NaN,NaN,0.169088,NaN,NaN,0.057491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,5648.40,72.925466,198.823333,0.024283,0.022898,0.0487,0.0560,0.0387,0.012792,0.015726,...,0.034581,NaN,NaN,NaN,1.055849,NaN,0.195877,-1.884540,2.504554,0.019204
2024-09-01,5762.48,73.400300,200.270000,0.022821,0.021707,0.0468,0.0542,0.0372,0.012023,0.017730,...,0.023585,NaN,NaN,NaN,1.055849,NaN,0.236572,-2.006363,2.263729,0.018572
2024-10-01,5705.45,73.877618,203.570000,-0.008690,-0.009523,0.0495,0.0563,0.0410,-0.023811,-0.024271,...,0.029564,NaN,NaN,NaN,1.055849,NaN,0.256120,-2.057976,2.846782,-0.012620
2024-11-01,6032.38,74.354936,206.870000,0.060420,0.059016,0.0514,0.0578,0.0436,0.007772,0.013377,...,0.040457,NaN,NaN,NaN,1.055849,NaN,0.176644,-2.078823,3.231256,0.054673
2024-12-01,5881.63,74.832255,210.170000,-0.023445,-0.024621,0.0520,0.0580,0.0439,-0.015408,-0.019354,...,0.029925,NaN,NaN,NaN,1.055849,NaN,0.195351,-2.135697,2.824905,-0.027417

In [3]:
readme = pd.read_excel("../../Data/GoyalAndWelch.xlsx", sheet_name="ReadMe")

/opt/anaconda3/envs/tsfm/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
readme = readme[readme["Frequency"]=="Monthly"]

In [12]:

a = ["vp","impvar","vrp","lzrt","ogap","wtexas","sntm","skvw","tail","fbm","dtoy","dtoat","ygap","rdsp","rsvix","tchi","avgcor","shtint","disag","ntis","lty","ltr","tms","dfy","dfr","infl"]
b = ["vp", "impvar", "vrp", "lzrt", "ogap", "wtexas", "sntm", "ndrbl", "skvw", "tail", "fbm", "dtoy", "dtoat", "ygap", "rdsp", "rsvix", "tchi", "avgcor", "shtint", "disag", "ntis", "tbl", "d/p", "d/y", "e/p", "d/e", "svar", "lty", "ltr", "tms", "dfy", "dfr", "infl", "b/m"]

# Convert to sets for comparison
set_a = set(a)
set_b = set(b)

# 1. Items in B that are NOT in A (Added items)
added = set_b - set_a

# 2. Items in A that are NOT in B (Removed items)
removed = set_a - set_b

print(f"Items in list 'b' but missing from 'a':\n{list(added)}")
print(f"\nItems in list 'a' but missing from 'b':\n{list(removed)}")

Items in list 'b' but missing from 'a':
['ndrbl', 'tbl']

Items in list 'a' but missing from 'b':
['equity_premium']

In [ ]:
#difference between a and b is that b  in python