In [11]:
import pandas as pd
import numpy as np
import os, sys
sys.path.insert(0, os.path.abspath('../..'))
import source.data_handling.data_preparation as dp
import source.trading_strategies.trading_strategy as tsh

import numpy as np
import pandas as pd

In [13]:
pred_df = pd.read_csv("../../Data/ModelData/Classification/pred_df_loop_logit.csv", index_col=0, parse_dates=True)
bt = tsh.backtest_paper_regime_switch(
    pred_df,
    price_col="M1WO_O",
    regime_col="y_pred",
    ts_col="timestamp",
    bear_label=0,
)
summary = tsh.compare_regime_strategies(bt, periods_per_year=252, gamma=5.0, benchmark="BuyHoldEq")
print(summary)

/var/folders/q9/d545ygdx5rj6lg_00gpykppw0000gn/T/ipykernel_3124/2869902700.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pred_df = pd.read_csv("../../Data/ModelData/Classification/pred_df_loop_logit.csv", index_col=0, parse_dates=True)

             TotalReturn      CAGR    AnnVol  Sharpe(excess)  MaxDrawdown  \
Strategy
Strategy        0.963304  0.042023  0.092020        0.493502    -0.246743
BuyHoldEq       4.025733  0.103532  0.148473        0.738206    -0.340332
BuyHoldRF       0.000000  0.000000  0.000000             NaN     0.000000
Static50_50     1.346223  0.053413  0.074237        0.738206    -0.183277

             AnnUtility  Δu vs BuyHoldEq
Strategy
Strategy       0.024243        -0.030250
BuyHoldEq      0.054493         0.000000
BuyHoldRF      0.000000        -0.054493
Static50_50    0.041024        -0.013469

In [37]:
pred_df

       timestamp  y_true  y_pred  pred_prob    M1WO_O
0     2010-01-01       0       0   0.286394   2796.04
1     2010-01-04       0       0   0.319418   2846.21
2     2010-01-05       0       0   0.186105   2854.58
3     2010-01-06       0       0   0.142301   2856.52
4     2010-01-07       0       0   0.124358   2855.09
...          ...     ...     ...        ...       ...
4126  2025-10-27       0       0   0.075678  14141.13
4127  2025-10-28       0       0   0.057691  14164.97
4128  2025-10-29       0       0   0.066157  14161.08
4129  2025-10-30       0       0   0.094534  14022.56
4130  2025-10-31       0       0   0.079219  14052.15

[4131 rows x 5 columns]

In [6]:
df = pd.read_csv("../../Data/MSCI_World_Data.csv")

In [7]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["year"] = df["timestamp"].dt.year
df.groupby("year")["M1WO"].agg(["count"])

      count
year
2000    259
2001    261
2002    261
2003    261
2004    262
2005    260
2006    260
2007    261
2008    262
2009    261
2010    261
2011    260
2012    261
2013    261
2014    261
2015    261
2016    261
2017    260
2018    261
2019    261
2020    262
2021    261
2022    260
2023    260
2024    262
2025    218