In [18]:
import pandas as pd
import numpy as np
import os, sys
sys.path.insert(0, os.path.abspath('../..'))
import source.data_preparation as dp
import source.regression_models as modl
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Example

In [19]:
data = dp.prepare_data()

c:\Users\kilia\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [20]:
data

,price,d12,e12,ret,retx,AAA,BAA,lty,ltr,corpr,...,rdsp,rsvix,gpce,gip,tchi,house,avgcor,shtint,disag,equity_premium
date,,,,,,,,,,,,,,,,,,,,,
1871-01-01,4.44,0.260000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-02-01,4.50,0.260000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-03-01,4.61,0.260000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-04-01,4.74,0.260000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1871-05-01,4.86,0.260000,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,5648.40,72.925466,198.823333,0.024283,0.022898,0.0487,0.0560,0.0387,0.012792,0.015726,...,0.034581,NaN,NaN,NaN,1.055849,NaN,0.195877,-1.884540,2.504554,0.019204
2024-09-01,5762.48,73.400300,200.270000,0.022821,0.021707,0.0468,0.0542,0.0372,0.012023,0.017730,...,0.023585,NaN,NaN,NaN,1.055849,NaN,0.236572,-2.006363,2.263729,0.018572
2024-10-01,5705.45,73.877618,203.570000,-0.008690,-0.009523,0.0495,0.0563,0.0410,-0.023811,-0.024271,...,0.029564,NaN,NaN,NaN,1.055849,NaN,0.256120,-2.057976,2.846782,-0.012620
2024-11-01,6032.38,74.354936,206.870000,0.060420,0.059016,0.0514,0.0578,0.0436,0.007772,0.013377,...,0.040457,NaN,NaN,NaN,1.055849,NaN,0.176644,-2.078823,3.231256,0.054673
2024-12-01,5881.63,74.832255,210.170000,-0.023445,-0.024621,0.0520,0.0580,0.0439,-0.015408,-0.019354,...,0.029925,NaN,NaN,NaN,1.055849,NaN,0.195351,-2.135697,2.824905,-0.027417

In [ ]:
#data = data[data.index < "2016-12-31"]

In [ ]:
# Pick the monthly variables you actually have in `data`:
monthly_vars = [
    "vp","impvar","vrp","lzrt","ogap","wtexas","sntm","ndrbL","skvw","tail",
    "fbm","dtoy","dtoat","ygap","rdsp","rsvix","tchi","avgcor","shtint",
    "disag","ntis","tby","lty","ltr","tms","dfy","dfr","infl"
]
monthly_vars = [v for v in monthly_vars if v in data.columns]

ranking = modl.rank_monthly_predictors(
    data,
    monthly_vars=monthly_vars,
    start_date="1927-01-01",
    start_oos="1965-01-01",
    lag=1,
    quiet=True,  # set False to see printed ranking
)

In [ ]:
from importlib import reload
reload(modl)
r2_o, y_true_o, y_pred_o, dates_o = modl.ols_oos(data, variables=("ogap",), start_oos="1965-01-01", mode="mean", ct_cutoff = True)
print(r2_o)
modl.plot_oos(
    y_true_o, y_pred_o, dates=dates_o,
    title=f"OLS(d/p) OOS (R²_OS={r2_o[0]:.4f})",
    ylabel="Monthly equity premium",
    mode = "mean"
)

In [ ]:
r2_c, y_true_c, y_pred_c, dates_c = modl.chronos_oos(data, start_oos="1965-01-01", quiet=False, ct_cutoff=True, freq='M', mode= "mean")

modl.plot_oos(
    y_true_c[1], y_pred_c[1], dates=dates_c[1],
    title=f"Chronos-Bolt OOS (R²_OS={r2_c[1]:.4f})",
    ylabel="Monthly equity premium", mode = "mean"
)

In [ ]:
vars_gw = ['d/p','d/y','e/p','tms','dfy','dfr','tbl','ltr','infl','svar','b/m','ntis','cay']
vars_core = ['d/p','e/p','tms','dfy','tbl','ltr','infl','svar','cay']

xgb_params = dict(
    n_estimators=1200, max_depth=2, learning_rate=0.01,
    subsample=0.7, colsample_bytree=0.7, reg_lambda=2.0,
    objective="reg:squarederror", random_state=42
)
# r2_te, y_true_te, y_pred_te, dates_te = modl.tree_ensemble_oos(data, vars_core, model_params=xgb_params, ct_cutoff=True)
# print("Tree ensemble OOS R²:", r2)
# # choose some variables you have
# vars_for_tree = ["tms","dfy","ntis"]

# modl.plot_oos(
#     y_true_te, y_pred_te, dates=dates_te,
#     title=f"Tree Ensemble OOS ({','.join(vars_for_tree)})  R²_OS={r2_te:.4f}",
#     ylabel="Monthly equity premium"
# )
r2_t, y_true_t, y_pred_t, dates_t = modl.tree_ensemble_oos(data, variables=vars_core, ct_cutoff=True, model_params=xgb_params, mode = "mean")
    
modl.plot_oos(
    y_true_t, y_pred_t, dates=dates_t,
    title=f"Tree Ensemble OOS (R²_OS={r2_t:.4f})",
    ylabel="Monthly equity premium",mode = "mean"
)

In [ ]:


r2_tf, y_true_tf, y_pred_tf, dates_tf = modl.timesfm_oos(
    data, start_oos="2008-09-01", min_context=120, max_context=512, ct_cutoff=True, quiet=False, freq="M",mode = "mean"
)

modl.plot_oos(
    y_true_tf[1], y_pred_tf[1], dates=dates_tf[1],
    title=f"TimesFM OOS (R²_OS={r2_tf[1]:.4f})",
    ylabel="Monthly equity premium", mode = "mean"
)

In [ ]:
r2_m, y_true_m, y_pred_m, dates_m = modl.moirai2_oos(
    data, covariates=(), start_oos="1965-01-01",
    ctx=240, device="cpu", ct_cutoff=True, quiet=False, mode = "mean"
)

modl.plot_oos(
    y_true_m[1], y_pred_m[1], dates=dates_m[1],
    title=f"Moirai-2 OOS (R²_OS={r2_m[1]:.4f})",
    ylabel="Monthly equity premium", mode = "mean"
)

In [ ]:
r2_m, y_true_m, y_pred_m, dates_m = modl.moirai2_oos(
    data, covariates=("d/p","tms","dfy"), start_oos="1965-01-01",
    ctx=240, device="cpu", ct_cutoff=True, quiet=False, mode = "mean"
)

modl.plot_oos(
    y_true_m[1], y_pred_m[1], dates=dates_m[1],
    title=f"Moirai-2 OOS (R²_OS={r2_m[1]:.4f})",
    ylabel="Monthly equity premium", mode = "mean"
)

In [ ]:


r2, y_true, y_pred, dates_fs = modl.flowstate_oos(
    data, mode = "mean", ct_cutoff=True
)

In [ ]:
modl.plot_oos(
    y_true[1],
    y_pred[1],
    dates=dates_fs[1],
    title=f"FlowState OOS (R²_OS={r2[1]:.4f})",
    ylabel="Monthly equity premium",
    mode = "mean"
)

In [21]:
from importlib import reload
reload(modl)

In [ ]:
r2_tabpfn, y_true_tabpfn, y_pred_tabpfn, dates_tabpfn = modl.tabpfn_oos_fit_each_step(
    data,
    variables=("d/p", "tms", "dfy"),
    start_oos="1965-01-01",
    lag=1,
    min_train=120,
    ct_cutoff=True,
    quiet=False,
    model_params='2.5',  # or just omit this argument,
    )

In [31]:
from importlib import reload
reload(modl)

In [32]:
r2, y_true, y_pred, dates = modl.tabpfn_advanced_ts_oos(
    data,
    variables=("d/p", "tms", "dfy"),
    target_col="equity_premium",
    lag=3,                  # Use t-1, t-2, t-3
    autoregressive=True,    # Use past returns
    start_oos="1965-01-01",
    model_params = "121"
)

1965-01-01 00:00:00
1965-02-01 00:00:00
1965-03-01 00:00:00
1965-04-01 00:00:00
1965-05-01 00:00:00
1965-06-01 00:00:00
1965-07-01 00:00:00
1965-08-01 00:00:00
1965-09-01 00:00:00
1965-10-01 00:00:00
1965-11-01 00:00:00
1965-12-01 00:00:00
1966-01-01 00:00:00
1966-02-01 00:00:00
1966-03-01 00:00:00
1966-04-01 00:00:00
1966-05-01 00:00:00
1966-06-01 00:00:00
1966-07-01 00:00:00
1966-08-01 00:00:00
1966-09-01 00:00:00
1966-10-01 00:00:00
1966-11-01 00:00:00
1966-12-01 00:00:00
1967-01-01 00:00:00
1967-02-01 00:00:00
1967-03-01 00:00:00
1967-04-01 00:00:00
1967-05-01 00:00:00
1967-06-01 00:00:00
1967-07-01 00:00:00
1967-08-01 00:00:00
1967-09-01 00:00:00
1967-10-01 00:00:00
1967-11-01 00:00:00
1967-12-01 00:00:00
1968-01-01 00:00:00
1968-02-01 00:00:00
1968-03-01 00:00:00
1968-04-01 00:00:00
1968-05-01 00:00:00
1968-06-01 00:00:00
1968-07-01 00:00:00
1968-08-01 00:00:00
1968-09-01 00:00:00
1968-10-01 00:00:00
1968-11-01 00:00:00
1968-12-01 00:00:00
1969-01-01 00:00:00
1969-02-01 00:00:00
1969-03-01 00:00:00
1969-04-01 00:00:00
1969-05-01 00:00:00
1969-06-01 00:00:00
1969-07-01 00:00:00
1969-08-01 00:00:00
1969-09-01 00:00:00
1969-10-01 00:00:00
1969-11-01 00:00:00
1969-12-01 00:00:00
1970-01-01 00:00:00
1970-02-01 00:00:00
1970-03-01 00:00:00
1970-04-01 00:00:00
1970-05-01 00:00:00
1970-06-01 00:00:00
1970-07-01 00:00:00
1970-08-01 00:00:00
1970-09-01 00:00:00
1970-10-01 00:00:00
1970-11-01 00:00:00
1970-12-01 00:00:00
1971-01-01 00:00:00
1971-02-01 00:00:00
1971-03-01 00:00:00
1971-04-01 00:00:00
1971-05-01 00:00:00
1971-06-01 00:00:00
1971-07-01 00:00:00
1971-08-01 00:00:00
1971-09-01 00:00:00
1971-10-01 00:00:00
1971-11-01 00:00:00
1971-12-01 00:00:00
1972-01-01 00:00:00
1972-02-01 00:00:00
1972-03-01 00:00:00
1972-04-01 00:00:00
1972-05-01 00:00:00
1972-06-01 00:00:00
1972-07-01 00:00:00
1972-08-01 00:00:00
1972-09-01 00:00:00
1972-10-01 00:00:00
1972-11-01 00:00:00
1972-12-01 00:00:00
1973-01-01 00:00:00
1973-02-01 00:00:00
1973-03-01 00:00:00
1973-04-01 00:00:00
1973-05-01 00:00:00
1973-06-01 00:00:00
1973-07-01 00:00:00
1973-08-01 00:00:00
1973-09-01 00:00:00
1973-10-01 00:00:00
1973-11-01 00:00:00
1973-12-01 00:00:00
1974-01-01 00:00:00
1974-02-01 00:00:00
1974-03-01 00:00:00
1974-04-01 00:00:00
1974-05-01 00:00:00
1974-06-01 00:00:00
1974-07-01 00:00:00
1974-08-01 00:00:00
1974-09-01 00:00:00
1974-10-01 00:00:00
1974-11-01 00:00:00
1974-12-01 00:00:00
1975-01-01 00:00:00
1975-02-01 00:00:00
1975-03-01 00:00:00
1975-04-01 00:00:00
1975-05-01 00:00:00
1975-06-01 00:00:00
1975-07-01 00:00:00
1975-08-01 00:00:00
1975-09-01 00:00:00
1975-10-01 00:00:00
1975-11-01 00:00:00
1975-12-01 00:00:00
1976-01-01 00:00:00
1976-02-01 00:00:00
1976-03-01 00:00:00
1976-04-01 00:00:00
1976-05-01 00:00:00
1976-06-01 00:00:00
1976-07-01 00:00:00
1976-08-01 00:00:00
1976-09-01 00:00:00
1976-10-01 00:00:00
1976-11-01 00:00:00
1976-12-01 00:00:00
1977-01-01 00:00:00
1977-02-01 00:00:00
1977-03-01 00:00:00
1977-04-01 00:00:00
1977-05-01 00:00:00
1977-06-01 00:00:00
1977-07-01 00:00:00
1977-08-01 00:00:00
1977-09-01 00:00:00
1977-10-01 00:00:00
1977-11-01 00:00:00
1977-12-01 00:00:00
1978-01-01 00:00:00
1978-02-01 00:00:00
1978-03-01 00:00:00
1978-04-01 00:00:00
1978-05-01 00:00:00
1978-06-01 00:00:00
1978-07-01 00:00:00
1978-08-01 00:00:00
1978-09-01 00:00:00
1978-10-01 00:00:00
1978-11-01 00:00:00
1978-12-01 00:00:00
1979-01-01 00:00:00
1979-02-01 00:00:00
1979-03-01 00:00:00
1979-04-01 00:00:00
1979-05-01 00:00:00
1979-06-01 00:00:00
1979-07-01 00:00:00
1979-08-01 00:00:00
1979-09-01 00:00:00
1979-10-01 00:00:00
1979-11-01 00:00:00
1979-12-01 00:00:00
1980-01-01 00:00:00
1980-02-01 00:00:00
1980-03-01 00:00:00
1980-04-01 00:00:00
1980-05-01 00:00:00
1980-06-01 00:00:00
1980-07-01 00:00:00
1980-08-01 00:00:00
1980-09-01 00:00:00
1980-10-01 00:00:00
1980-11-01 00:00:00
1980-12-01 00:00:00
1981-01-01 00:00:00
1981-02-01 00:00:00
1981-03-01 00:00:00
1981-04-01 00:00:00
1981-05-01 00:00:00
1981-06-01 00:00:00
1981-07-01 00:00:00
1981-08-01 00:00:00
1981-09-01 00:00:00
1981-10-01 00:00:00
1981-11-01 00:00:00
1981-12-01 00:00:00
1982-01-01 00:00:00
1982-02-01 00:00:00
1982-03-01 00:00:00
1982-04-01 00:00:00
1982-05-01 00:00:00
1982-06-01 00:00:00
1982-07-01 00:00:00
1982-08-01 00:00:00
1982-09-01 00:00:00
1982-10-01 00:00:00
1982-11-01 00:00:00
1982-12-01 00:00:00
1983-01-01 00:00:00
1983-02-01 00:00:00
1983-03-01 00:00:00
1983-04-01 00:00:00
1983-05-01 00:00:00
1983-06-01 00:00:00
1983-07-01 00:00:00
1983-08-01 00:00:00
1983-09-01 00:00:00
1983-10-01 00:00:00
1983-11-01 00:00:00
1983-12-01 00:00:00
1984-01-01 00:00:00
1984-02-01 00:00:00
1984-03-01 00:00:00
1984-04-01 00:00:00
1984-05-01 00:00:00
1984-06-01 00:00:00
1984-07-01 00:00:00
1984-08-01 00:00:00
1984-09-01 00:00:00
1984-10-01 00:00:00
1984-11-01 00:00:00
1984-12-01 00:00:00
1985-01-01 00:00:00
1985-02-01 00:00:00
1985-03-01 00:00:00
1985-04-01 00:00:00
1985-05-01 00:00:00
1985-06-01 00:00:00
1985-07-01 00:00:00
1985-08-01 00:00:00
1985-09-01 00:00:00
1985-10-01 00:00:00
1985-11-01 00:00:00
1985-12-01 00:00:00
1986-01-01 00:00:00
1986-02-01 00:00:00
1986-03-01 00:00:00
1986-04-01 00:00:00
1986-05-01 00:00:00
1986-06-01 00:00:00
1986-07-01 00:00:00
1986-08-01 00:00:00
1986-09-01 00:00:00
1986-10-01 00:00:00
1986-11-01 00:00:00
1986-12-01 00:00:00
1987-01-01 00:00:00
1987-02-01 00:00:00
1987-03-01 00:00:00
1987-04-01 00:00:00
1987-05-01 00:00:00
1987-06-01 00:00:00
1987-07-01 00:00:00
1987-08-01 00:00:00
1987-09-01 00:00:00
1987-10-01 00:00:00
1987-11-01 00:00:00
1987-12-01 00:00:00
1988-01-01 00:00:00
1988-02-01 00:00:00
1988-03-01 00:00:00
1988-04-01 00:00:00
1988-05-01 00:00:00
1988-06-01 00:00:00
1988-07-01 00:00:00
1988-08-01 00:00:00
1988-09-01 00:00:00
1988-10-01 00:00:00
1988-11-01 00:00:00
1988-12-01 00:00:00
1989-01-01 00:00:00
1989-02-01 00:00:00
1989-03-01 00:00:00
1989-04-01 00:00:00
1989-05-01 00:00:00
1989-06-01 00:00:00
1989-07-01 00:00:00
1989-08-01 00:00:00
1989-09-01 00:00:00
1989-10-01 00:00:00
1989-11-01 00:00:00
1989-12-01 00:00:00
1990-01-01 00:00:00
1990-02-01 00:00:00
1990-03-01 00:00:00
1990-04-01 00:00:00
1990-05-01 00:00:00
1990-06-01 00:00:00
1990-07-01 00:00:00
1990-08-01 00:00:00
1990-09-01 00:00:00
1990-10-01 00:00:00
1990-11-01 00:00:00
1990-12-01 00:00:00
1991-01-01 00:00:00
1991-02-01 00:00:00
1991-03-01 00:00:00
1991-04-01 00:00:00
1991-05-01 00:00:00
1991-06-01 00:00:00
1991-07-01 00:00:00
1991-08-01 00:00:00
1991-09-01 00:00:00
1991-10-01 00:00:00
1991-11-01 00:00:00
1991-12-01 00:00:00
1992-01-01 00:00:00
1992-02-01 00:00:00
1992-03-01 00:00:00
1992-04-01 00:00:00
1992-05-01 00:00:00
1992-06-01 00:00:00
1992-07-01 00:00:00
1992-08-01 00:00:00
1992-09-01 00:00:00
1992-10-01 00:00:00
1992-11-01 00:00:00
1992-12-01 00:00:00
1993-01-01 00:00:00
1993-02-01 00:00:00
1993-03-01 00:00:00
1993-04-01 00:00:00
1993-05-01 00:00:00
1993-06-01 00:00:00
1993-07-01 00:00:00
1993-08-01 00:00:00
1993-09-01 00:00:00
1993-10-01 00:00:00
1993-11-01 00:00:00
1993-12-01 00:00:00
1994-01-01 00:00:00
1994-02-01 00:00:00
1994-03-01 00:00:00
1994-04-01 00:00:00
1994-05-01 00:00:00
1994-06-01 00:00:00
1994-07-01 00:00:00
1994-08-01 00:00:00
1994-09-01 00:00:00
1994-10-01 00:00:00
1994-11-01 00:00:00
1994-12-01 00:00:00
1995-01-01 00:00:00
1995-02-01 00:00:00
1995-03-01 00:00:00
1995-04-01 00:00:00
1995-05-01 00:00:00
1995-06-01 00:00:00
1995-07-01 00:00:00
1995-08-01 00:00:00
1995-09-01 00:00:00
1995-10-01 00:00:00
1995-11-01 00:00:00
1995-12-01 00:00:00
1996-01-01 00:00:00
1996-02-01 00:00:00
1996-03-01 00:00:00
1996-04-01 00:00:00
1996-05-01 00:00:00
1996-06-01 00:00:00
1996-07-01 00:00:00
1996-08-01 00:00:00
1996-09-01 00:00:00
1996-10-01 00:00:00
1996-11-01 00:00:00
1996-12-01 00:00:00
1997-01-01 00:00:00
1997-02-01 00:00:00
1997-03-01 00:00:00
1997-04-01 00:00:00
1997-05-01 00:00:00
1997-06-01 00:00:00
1997-07-01 00:00:00
1997-08-01 00:00:00
1997-09-01 00:00:00
1997-10-01 00:00:00
1997-11-01 00:00:00
1997-12-01 00:00:00
1998-01-01 00:00:00
1998-02-01 00:00:00
1998-03-01 00:00:00
1998-04-01 00:00:00
1998-05-01 00:00:00
1998-06-01 00:00:00
1998-07-01 00:00:00
1998-08-01 00:00:00
1998-09-01 00:00:00
1998-10-01 00:00:00
1998-11-01 00:00:00
1998-12-01 00:00:00
1999-01-01 00:00:00
1999-02-01 00:00:00
1999-03-01 00:00:00
1999-04-01 00:00:00
1999-05-01 00:00:00
1999-06-01 00:00:00
1999-07-01 00:00:00
1999-08-01 00:00:00
1999-09-01 00:00:00
1999-10-01 00:00:00
1999-11-01 00:00:00
1999-12-01 00:00:00
2000-01-01 00:00:00
2000-02-01 00:00:00
2000-03-01 00:00:00
2000-04-01 00:00:00
2000-05-01 00:00:00
2000-06-01 00:00:00
2000-07-01 00:00:00
2000-08-01 00:00:00
2000-09-01 00:00:00
2000-10-01 00:00:00
2000-11-01 00:00:00
2000-12-01 00:00:00
2001-01-01 00:00:00
2001-02-01 00:00:00
2001-03-01 00:00:00
2001-04-01 00:00:00
2001-05-01 00:00:00
2001-06-01 00:00:00
2001-07-01 00:00:00
2001-08-01 00:00:00
2001-09-01 00:00:00
2001-10-01 00:00:00
2001-11-01 00:00:00
2001-12-01 00:00:00
2002-01-01 00:00:00
2002-02-01 00:00:00
2002-03-01 00:00:00
2002-04-01 00:00:00
2002-05-01 00:00:00
2002-06-01 00:00:00
2002-07-01 00:00:00
2002-08-01 00:00:00
2002-09-01 00:00:00
2002-10-01 00:00:00
2002-11-01 00:00:00
2002-12-01 00:00:00
2003-01-01 00:00:00
2003-02-01 00:00:00
2003-03-01 00:00:00
2003-04-01 00:00:00
2003-05-01 00:00:00
2003-06-01 00:00:00
2003-07-01 00:00:00
2003-08-01 00:00:00
2003-09-01 00:00:00
2003-10-01 00:00:00
2003-11-01 00:00:00
2003-12-01 00:00:00
2004-01-01 00:00:00
2004-02-01 00:00:00
2004-03-01 00:00:00
2004-04-01 00:00:00
2004-05-01 00:00:00
2004-06-01 00:00:00
2004-07-01 00:00:00
2004-08-01 00:00:00
2004-09-01 00:00:00
2004-10-01 00:00:00
2004-11-01 00:00:00
2004-12-01 00:00:00
2005-01-01 00:00:00
2005-02-01 00:00:00
2005-03-01 00:00:00
2005-04-01 00:00:00
2005-05-01 00:00:00
2005-06-01 00:00:00
2005-07-01 00:00:00
2005-08-01 00:00:00
2005-09-01 00:00:00
2005-10-01 00:00:00
2005-11-01 00:00:00
2005-12-01 00:00:00
2006-01-01 00:00:00
2006-02-01 00:00:00
2006-03-01 00:00:00
2006-04-01 00:00:00
2006-05-01 00:00:00
2006-06-01 00:00:00
2006-07-01 00:00:00
2006-08-01 00:00:00
2006-09-01 00:00:00
2006-10-01 00:00:00
2006-11-01 00:00:00
2006-12-01 00:00:00
2007-01-01 00:00:00
2007-02-01 00:00:00
2007-03-01 00:00:00
2007-04-01 00:00:00
2007-05-01 00:00:00
2007-06-01 00:00:00
2007-07-01 00:00:00
2007-08-01 00:00:00
2007-09-01 00:00:00
2007-10-01 00:00:00
2007-11-01 00:00:00
2007-12-01 00:00:00
2008-01-01 00:00:00
2008-02-01 00:00:00
2008-03-01 00:00:00
2008-04-01 00:00:00
2008-05-01 00:00:00
2008-06-01 00:00:00
2008-07-01 00:00:00
2008-08-01 00:00:00
2008-09-01 00:00:00
2008-10-01 00:00:00
2008-11-01 00:00:00
2008-12-01 00:00:00
2009-01-01 00:00:00
2009-02-01 00:00:00
2009-03-01 00:00:00
2009-04-01 00:00:00
2009-05-01 00:00:00
2009-06-01 00:00:00
2009-07-01 00:00:00
2009-08-01 00:00:00
2009-09-01 00:00:00
2009-10-01 00:00:00
2009-11-01 00:00:00
2009-12-01 00:00:00
2010-01-01 00:00:00
2010-02-01 00:00:00
2010-03-01 00:00:00
2010-04-01 00:00:00
2010-05-01 00:00:00
2010-06-01 00:00:00
2010-07-01 00:00:00
2010-08-01 00:00:00
2010-09-01 00:00:00
2010-10-01 00:00:00
2010-11-01 00:00:00
2010-12-01 00:00:00
2011-01-01 00:00:00
2011-02-01 00:00:00
2011-03-01 00:00:00
2011-04-01 00:00:00
2011-05-01 00:00:00
2011-06-01 00:00:00
2011-07-01 00:00:00
2011-08-01 00:00:00
2011-09-01 00:00:00
2011-10-01 00:00:00
2011-11-01 00:00:00
2011-12-01 00:00:00
2012-01-01 00:00:00
2012-02-01 00:00:00
2012-03-01 00:00:00
2012-04-01 00:00:00
2012-05-01 00:00:00
2012-06-01 00:00:00
2012-07-01 00:00:00
2012-08-01 00:00:00
2012-09-01 00:00:00
2012-10-01 00:00:00
2012-11-01 00:00:00
2012-12-01 00:00:00
2013-01-01 00:00:00
2013-02-01 00:00:00
2013-03-01 00:00:00
2013-04-01 00:00:00
2013-05-01 00:00:00
2013-06-01 00:00:00
2013-07-01 00:00:00
2013-08-01 00:00:00
2013-09-01 00:00:00
2013-10-01 00:00:00
2013-11-01 00:00:00
2013-12-01 00:00:00
2014-01-01 00:00:00
2014-02-01 00:00:00
2014-03-01 00:00:00
2014-04-01 00:00:00
2014-05-01 00:00:00
2014-06-01 00:00:00
2014-07-01 00:00:00
2014-08-01 00:00:00
2014-09-01 00:00:00
2014-10-01 00:00:00
2014-11-01 00:00:00
2014-12-01 00:00:00
2015-01-01 00:00:00
2015-02-01 00:00:00
2015-03-01 00:00:00
2015-04-01 00:00:00
2015-05-01 00:00:00
2015-06-01 00:00:00
2015-07-01 00:00:00
2015-08-01 00:00:00
2015-09-01 00:00:00
2015-10-01 00:00:00
2015-11-01 00:00:00
2015-12-01 00:00:00
2016-01-01 00:00:00
2016-02-01 00:00:00
2016-03-01 00:00:00
2016-04-01 00:00:00
2016-05-01 00:00:00
2016-06-01 00:00:00
2016-07-01 00:00:00
2016-08-01 00:00:00
2016-09-01 00:00:00
2016-10-01 00:00:00
2016-11-01 00:00:00
2016-12-01 00:00:00
2017-01-01 00:00:00
2017-02-01 00:00:00
2017-03-01 00:00:00
2017-04-01 00:00:00
2017-05-01 00:00:00
2017-06-01 00:00:00
2017-07-01 00:00:00
2017-08-01 00:00:00
2017-09-01 00:00:00
2017-10-01 00:00:00
2017-11-01 00:00:00
2017-12-01 00:00:00
2018-01-01 00:00:00
2018-02-01 00:00:00
2018-03-01 00:00:00
2018-04-01 00:00:00
2018-05-01 00:00:00
2018-06-01 00:00:00
2018-07-01 00:00:00
2018-08-01 00:00:00
2018-09-01 00:00:00
2018-10-01 00:00:00
2018-11-01 00:00:00
2018-12-01 00:00:00
2019-01-01 00:00:00
2019-02-01 00:00:00
2019-03-01 00:00:00
2019-04-01 00:00:00
2019-05-01 00:00:00
2019-06-01 00:00:00
2019-07-01 00:00:00
2019-08-01 00:00:00
2019-09-01 00:00:00
2019-10-01 00:00:00
2019-11-01 00:00:00
2019-12-01 00:00:00
2020-01-01 00:00:00
2020-02-01 00:00:00
2020-03-01 00:00:00
2020-04-01 00:00:00
2020-05-01 00:00:00
2020-06-01 00:00:00
2020-07-01 00:00:00
2020-08-01 00:00:00
2020-09-01 00:00:00
2020-10-01 00:00:00
2020-11-01 00:00:00
2020-12-01 00:00:00
2021-01-01 00:00:00
2021-02-01 00:00:00
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
2021-09-01 00:00:00
2021-10-01 00:00:00
2021-11-01 00:00:00
2021-12-01 00:00:00
2022-01-01 00:00:00
2022-02-01 00:00:00
2022-03-01 00:00:00
2022-04-01 00:00:00
2022-05-01 00:00:00
2022-06-01 00:00:00
2022-07-01 00:00:00
2022-08-01 00:00:00
2022-09-01 00:00:00
2022-10-01 00:00:00
2022-11-01 00:00:00
2022-12-01 00:00:00
2023-01-01 00:00:00
2023-02-01 00:00:00
2023-03-01 00:00:00
2023-04-01 00:00:00
2023-05-01 00:00:00
2023-06-01 00:00:00
2023-07-01 00:00:00
2023-08-01 00:00:00
2023-09-01 00:00:00
2023-10-01 00:00:00
2023-11-01 00:00:00
2023-12-01 00:00:00
2024-01-01 00:00:00
2024-02-01 00:00:00
2024-03-01 00:00:00
2024-04-01 00:00:00
2024-05-01 00:00:00
2024-06-01 00:00:00
2024-07-01 00:00:00
2024-08-01 00:00:00
2024-09-01 00:00:00
2024-10-01 00:00:00
2024-11-01 00:00:00
2024-12-01 00:00:00
[TabPFN-AdvTS(L=3)] Valid=720 | MSE=0.001944 | R²_OS=-0.0203 (±0.0069)

In [24]:
r2_ts

(-0.014455372020061974,
 {'mean': -0.013821511580861773,
  'std': 0.007390493221755679,
  'lower': -0.02755925454731974,
  'upper': 0.0006980707120551393})

In [ ]:
modl.plot_oos(
    y_true_tabpfn, y_pred_tabpfn, dates=dates_tabpfn,
    title=f"TabPFN (fit each step) OOS (R²_OS={r2_tabpfn:.4f})",
    ylabel="Monthly equity premium"
)

In [ ]:
r2_pfn_ts, y_true_pfn_ts, y_pred_pfn_ts, dates_pfn_ts = modl.tabpfn_ts_oos_fit_each_step(
    data,
    target_col="equity_premium",
    start_oos="1965-01-01",
    ctx=240,
    freq="M",
    min_windows=120,
    ct_cutoff=False,
    quiet=False,
    fit_kwargs={"epochs": 1}  # if your build supports epochs
)

plot_oos(
    y_true_pfn_ts, y_pred_pfn_ts, dates=dates_pfn_ts,
    title=f"TabPFN-TS (fit each step) OOS (R²_OS={r2_pfn_ts:.4f})",
    ylabel="Monthly equity premium"
)

In [ ]:
!pip install tabpfn-ts

In [ ]:
# Example usage
results = {
    "OLS(d/p)": (r2_o, y_true_o, y_pred_o, dates_o),
    "Chronos": (r2_c[1], y_true_c[1], y_pred_c[1], dates_c[1]),
    "TimesFM": (r2_tf[1], y_true_tf[1], y_pred_tf[1], dates_tf[1]),
}
modl.plot_oos_multi(results)

In [ ]:
from importlib import reload
reload(mm)
import source.modelling_multistep as mm
# 12-step multi-horizon OOS with Chronos
r2_c, y_true_c, y_pred_c, dates_c = mm.chronos_oos_multistep(
    data,
    start_oos="1965-01-01",
    prediction_length=100,
    ct_cutoff=False,
    quiet=False,
    freq="M",
)

# Check R² by horizon
for h in range(1, 13):
    print(f"h={h}: R²_OS = {r2_c[h]:.4f}")

# Plot horizon-1 forecast
h = 1
modl.plot_oos(
    y_true_c[h], y_pred_c[h], dates=dates_c[h],
    title=f"Chronos-Bolt OOS (h={h}, R²_OS={r2_c[h]:.4f})",
    ylabel="Monthly equity premium",
)

# Plot horizon-12 forecast
h = 100
modl.plot_oos(
    y_true_c[h], y_pred_c[h], dates=dates_c[h],
    title=f"Chronos-Bolt OOS (h={h}, R²_OS={r2_c[h]:.4f})",
    ylabel="Monthly equity premium",
)

In [ ]:
from importlib import reload
reload(modl)    
import warnings
warnings.filterwarnings('ignore')  # Suppress all warnings

r2_auto, trues_auto, preds_auto, dates_auto = modl.autoarima_oos(
    data=data,
    target_col="equity_premium",
    start_oos="1970-01-01",
    freq="M",
    min_history_months=60,
    auto_arima_kwargs={"max_p": 3, "max_q": 3},
    order_search_every=15,   # search only once (first step)
    refit_each_step=True,      # <-- keep refitting model each step
    mode = "rw",
)

In [ ]:
base_cols=["d/p", "d/y" ]
base_cols = ["d/p", "d/y" , "e/p", "d/e","svar", "b/m", "ntis","tbl", "ltr", "tms", "dfy", "dfr", "infl"]
fit_fn = modl.make_mlp_lag_reg_fit_predict_fn(
    base_cols=base_cols, n_lags=24, epochs=30, retrain_every=10, print_loss=True
)


r2, y_true, y_pred, dates = modl.expanding_oos_tabular(
    data=data, target_col="equity_premium",
    feature_cols=None,  # ignored by driver when using fit_predict
    start_oos="1965-01-01", start_date="1927-01-01",
    min_train=120, model_name="MLPReg(lags)",
    model_fit_predict_fn=fit_fn, mode="mean"
)
print(f"MLPReg(lags) OOS R²: {r2:.4f}")

In [ ]:
print(f"MLPReg(lags) OOS R²: {r2:.4f}")
print("Ha")

In [ ]:
data.columns

In [ ]:
from importlib import reload    
reload(modl)

In [ ]:
fit_fn = modl.make_lstm_seq_reg_fit_predict_fn(
    feature_cols=["d/p", "d/y"],  # or whatever features you want
    seq_len=24, epochs=20, retrain_every=5
)

r2, y_true, y_pred, dates = modl.expanding_oos_tabular(
    data=data, target_col="equity_premium",
    feature_cols=None,
    start_oos="1965-01-01", start_date="1927-01-01",
    min_train=120, model_name="LSTMReg(seq)",
    model_fit_predict_fn=fit_fn, mode="mean"
)

In [ ]:
fit_fn = modl.make_transformer_seq_reg_fit_predict_fn(
    feature_cols=["d/p", "tms", "dfy"],
    target_col="equity_premium",
    seq_len=24,           # 12–36 are good starting points
    epochs=20,
    retrain_every=5,     # periodic retraining
    d_model=128, nhead=4, num_layers=2,
)

r2, y_true, y_pred, dates = modl.expanding_oos_tabular(
    data=data,
    target_col="equity_premium",
    feature_cols=None,               # ignored when using fit_predict closure
    start_oos="1965-01-01",
    start_date="1927-01-01",
    min_train=120,
    model_name="TransformerReg(seq)",
    model_fit_predict_fn=fit_fn,
    mode="mean",
)